@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&family=Inclusive+Sans:ital@0;1&display=swap');

.subpage {
    background-color: #E1D0BE;
}

h1 {
    font-family: "Barlow";
    font-weight: 600;
    font-size: 60px;
}

img {
    max-width: 100%;
    height: auto;
}

p{
    font-family: "Barlow";
    font-weight: 300;
    font-size: 30px;
}